body {

    color: #f7f7f7;
  }
  
  .jumbotron {
    background-image: url("https://storage.googleapis.com/kaggle-competitions/kaggle/5407/media/housesbanner.png");
    background-size: 100% 125%;
    text-align: center;
  }

  body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("https://news.gatech.edu/sites/default/files/hg_media/healthy_and_unhealthy_food.jpg");
  
    /* Full height */
    height: 30%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  caption {
    display: table-caption;
    text-align: center;
  }